<html>
   <head>
		<meta charset='utf-8'>
		<link href = "{{ url_for('static',filename='css/index.css') }}" rel='stylesheet'>
		
   
   </head>
   
  
   <body>
		<div id = 'banner'>
		</div>
		
		<div id = 'menu'>
		<ul>
			<li><a href="/">首頁</a></li>
			<li><a href="/foods">foods</a></li>
			<li><a href="/news">news</a></li>
			<li><a href="/product">product</a></li>
		</ul>		
		</div>
		
		
		<div id = 'content'>
		</div>
		
		<div id = 'footer'>
		</div>
		
		
   </body>

</html>